/* ============================================================================================== */
/* Global Styles                                                                                  */
/* ============================================================================================== */

html, body {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: $max-width;
  position: relative;
  @include clearfix;
}




/* ============================================================================================== */
/* Other Styles                                                                                   */
/* ============================================================================================== */

.intro-screen {
  .container {
    height: 100%;
    background-color: #efefef;
  }
  h1 {
    @include heading-first;
    text-align: center;
    margin-top: 200px;
  }
}